/*  */
body {
  background: radial-gradient(rgb(73, 72, 72), rgb(29, 28, 28));
  min-height: 100vh;
  color: white;
}

.tarjetita {
  width: 18rem;
  background: rgb(26, 25, 25) !important;
}
.tarjetita2 {
  background: rgb(126, 68, 68) !important;
}
.img {
  width: 50%;
}
