/*  */

html,
body {
  color: white;
  background-color: black;
  font-size: 1.5rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

button {
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
  border-width: 0px;
}
